/************************ Estilos Globales ************************/

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

:root {
    --background-white: #fff;
    --main-accent: #2B52FF;
    --clear-accent: #F0F3FF;
    --dark-accent: #000932;

    --title-xl: 5em;
    --title-l: 3em;
    --title-m: 2em;
    --title-s: 1.2em;
    --title-xs: 1em;

    --body-l: 1.6em;
    --body-m: 1.2em;
    --body-s: 1em;
}



/************************ Estilos de Textos ************************/

h1 {
    font-family: 'Inter', sans-serif;
    font-size: var(--title-xl);
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: var(--title-l);
}

h3{
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: var(--body-m);
}

a {
    font-family: 'Inter', sans-serif;
    font-size: var(--body-s);
}

span {
    font-family: 'Inter', sans-serif;
}



/************************ Estilos: Header ************************/

header {
    padding: 40px 80px;
    color: var(--background-white);
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

.header__item {
    color: var(--background-white);
    text-decoration: none;
}



/************************ Estilos: Home --> Hero ************************/

.hero {
    position: relative;
    background: var(--dark-accent);
    color: var(--background-white);
}

.hero__wrapper {
    position: relative;
    padding: 240px 160px 0px;
    display: flex;
    gap: 160px;
    align-items: center;
    z-index: 10;
}

.divider__vertical--1 {
    position: absolute;
    border-left: 2px solid var(--background-white);
    opacity: 5%;
    height: 100%;
    left: 160px;
    top: 0;
}

.divider__vertical--2 {
    position: absolute;
    border-left: 2px solid var(--background-white);
    opacity: 5%;
    height: 100%;
    left: 50%;
    top: 0;
}

.divider__vertical--3 {
    position: absolute;
    border-left: 2px solid var(--background-white);
    opacity: 5%;
    height: 100%;
    right: 160px;
    top: 0;
}

.divider__horizontal--1 {
    position: absolute;
    border-top: 2px solid var(--background-white);
    opacity: 5%;
    width: 100%;
    left: 0;
    top: 20%;
}

.divider__horizontal--2 {
    position: absolute;
    border-top: 2px solid var(--background-white);
    opacity: 5%;
    width: 100%;
    left: 0;
    top: 50%;
}

.hero__subtitle {
    font-size: var(--title-s);
}



/************************ Estilos: Home --> Projects ************************/

.project {
    margin: 120px 160px;
    background: white;
}

.project__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.4em;
}

.project-card {
    color: var(--background-white);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-card__image {
    transition: 0.5s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card__content {
    position: absolute;
    top: 0em;
    padding: 40px;
}

.project-card__title {
    margin-bottom: 0.4em;
    font-size: 2em;
    font-weight: 600;
}

.project-card:hover .project-card__image {
    transform: scale(1.1);
}



/************************ Estilos: Home --> Blog ************************/
.blog {
    padding: 120px 160px;
}

.blog__content {
    margin-bottom: 4em;
}

.blog__heading {
    font-size: var(--title-m);
    font-weight: 600;
    margin-bottom: 0.6em;
    text-align: center;
}

.blog__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.blog-card__image {
    width: 100%;
    object-fit: cover;
}

.blog-card__content {
    padding: 1em 1em;
}

.blog-card__title {
    margin-top: 0.5em;
}



/************************ Estilos Footer ************************/

footer {
    background: var(--dark-accent);
    padding: 80px 160px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer i {
    color: var(--background-white);
    font-size: 1.8em;
}

.fa-brands {
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .4);
    margin: 0px 8px;
}

/************************ Estilos de Buttons ************************/

.cta-primary-large {
    background-color: #000;
    padding: 20px 40px;
    color: #fff;
    font-size: 20px;
}


/************************ Estilos --> About --> Cabecera ************************/

.about {
    padding: 80px 160px;
}

.biography {
    padding: 80px 160px;
}
.biography__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px;
    margin-bottom: 64px;
}

.experience, .studies {
    background: var(--clear-accent);
    padding: 80px 160px;
}

.experience__table, .studies__table {
    margin-top: 40px;
}

.experience__row, .studies__row {
    display: flex;
    padding: 24px 0px;
    margin: -1px;
    justify-content: space-between;
    border-top: solid 1px;
    border-bottom: solid 1px;
}












/************************ Media Query --> Tablet ************************/

@media screen and (max-width:1023px) {
    h1 {
        font-size: 4em;
    }
    .hero {
        padding: 60px 40px;
        background: #F4F4F4;
    }
    .project {
        margin: 60px 40px;
        background: white;
    }
    .project__wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 4em;
        margin: 2em 0em;
    }
    .project-card__content {
        padding: 2em;
    }
    .project-card__title {
        font-size: 1.6em;
    }
    .blog {
        padding: 60px 40px;
    }
    .blog__wrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2em;
    }
}



/************************ Media Query --> Mobile ************************/

@media screen and (max-width:767px) {
    h1 {
        font-size: 3em;
    }
    .hero {
        padding: 60px 20px;
        background: #F4F4F4;
    }
    .project {
        margin: 40px 20px;
        background: white;
    }
    .project__wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 2em;
        margin: 2em 0em;
    }
    .project-card__content {
        padding: 1.5em;
    }
    .blog {
        padding: 40px 20px;
    }
    .blog__wrapper {
        display: grid;
        grid-template-columns: auto;
        gap: 2em;
    }
}